<!----- #ID , .CLASS--->


#hello {
    color: rgb(0,238,255);

}


    
.world {
    font-size: 1000%;
}

body{

}

.logo{
    width: 25%;

}

.button{
    background-color: #3c6ca8;
    border: none;
    font: Roboto, sans-serif;
    color: fffcf6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.section-title {
      font-size: 20px;
      margin-bottom: 10px;
      color: #b78fd6;
    }

.featurette-image {
  max-width: 700px;
  max-height: 500px;
  object-fit: cover;
}

.featurette-heading {
    color: #b78fd6;
}

.secondary-text {
    color: #6c757d;
}

/* Resize carousel images and preserve aspect with cover */
      #carouselExampleSlidesOnly .carousel-inner img{
        width: clamp(220px, 36vh, 520px);
        height: auto; /* responsive height */
        object-fit: cover;
        display: block;
        margin: 0 auto;
      }

      /* Optional: keep some spacing below fixed navbar */
      body 
      {
        padding-top: 72px;
        padding-left: 20px; 
        padding-right: 20px;
        font-family: Roboto, sans-serif;
        background: #fffcf6;
    }