<!----- #ID , .CLASS, *ALL--->


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffcf6;
  font-family: Roboto, sans-serif;
}



.logo{
    width: 25%;

}


.section-title {
      font-size: 20px;
      margin-bottom: 10px;
      color: #b78fd6;
    }



.secondary-text {
    color: #6c757d;
}


/* SCROLL TO TOP BUTTON STYLES */
#go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    /* font-size: 16px; */
    background-color: #3c6ca8;
    color: white;
    opacity: 0.5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s linear;
}
#go-to-top-button:hover {
    opacity: 1.0;
}
#go-to-top-button.hidden {
    display: none;
}
/* END OF SCROLL TO TOP BUTTON STYLES */


/* ------ START OF HOMEPAGE -------- */
/* Resize carousel images and preserve aspect with cover */
      #carouselExampleSlidesOnly .carousel-inner img
      {
        width: 100%;
        height: auto; /* responsive height */
        object-fit: cover;
        display: block;
        margin: 0 auto;
      }

#carouselExampleSlidesOnly {
    margin-top: 56px; /* height of navbar */
}

/* ------ featurette -------- */
.featurette-image {
  max-width: 700px;
  max-height: 500px;
  object-fit: cover;
}

.featurette-heading {
    color: #b78fd6;
    font-family: Roboto, sans-serif;
    font-size: 24px;
}

.lead {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-align: justify;
    color: #333;
    line-height: 1.6;
    margin-top: 15px;
}

.text-body-secondary {
    color: #6c757d;
    font-size: 16px;
    font-style: italic;
}

.justified-indent {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-align: justify;
    text-indent: 50px;
    color: #333;
    line-height: 1.6;
    margin-top: 15px;
}

.highlight-heading {
    color: #3c6ca8;
    font-family: Roboto, sans-serif;
    font-size: 24px;
}

.btn-primary {
    background-color: #3c6ca8;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.3);
}

/* ------------- END OF HOMEPAGE -------- */

/* ---------------ABOUT PAGE START--------------- */
.aboutNITP {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
  }
  
  .aboutNITP img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .aboutNITP-text {
    max-width: 600px;
  }
  
  .aboutNITP-text h2 {
    color: #b78fd6;
    margin-bottom: 20px;
  }
  
  .aboutNITP-text p {
    color: #333;
    line-height: 1.6;
  }


/* -------------ABOUT PAGE CLOSING--------------- */