<!----- #ID , .CLASS, *ALL--->


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffcf6;
  font-family: Roboto, sans-serif;
}



.logo{
    width: 25%;

}

.button{
    background-color: #3c6ca8;
    border: none;
    font: Roboto, sans-serif;
    color: fffcf6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.section-title {
      font-size: 20px;
      margin-bottom: 10px;
      color: #b78fd6;
    }

.featurette-image {
  max-width: 700px;
  max-height: 500px;
  object-fit: cover;
}

.featurette-heading {
    color: #b78fd6;
}

.secondary-text {
    color: #6c757d;
}

/* Resize carousel images and preserve aspect with cover */
      #carouselExampleSlidesOnly .carousel-inner img
      {
        width: 100%;
        height: auto; /* responsive height */
        object-fit: cover;
        display: block;
        margin: 0 auto;
      }

#carouselExampleSlidesOnly {
    margin-top: 56px; /* height of navbar */
}


/* -------------ABOUT PAGE START--------------- */
.aboutNITP {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
  }
  
  .aboutNITP img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .aboutNITP-text {
    max-width: 600px;
  }
  
  .aboutNITP-text h2 {
    color: #b78fd6;
    margin-bottom: 20px;
  }
  
  .aboutNITP-text p {
    color: #333;
    line-height: 1.6;
  }


/* -------------ABOUT PAGE CLOSING--------------- */