<!----- #ID , .CLASS, *ALL--->


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffcf6;
  font-family: Roboto, sans-serif;
}



.logo{
    width: 25%;

}


.section-title {
      font-size: 20px;
      margin-bottom: 10px;
      color: #b78fd6;
    }



.secondary-text {
    color: #6c757d;
}


/* ------ START OF HOMEPAGE -------- */
/* Resize carousel images and preserve aspect with cover */
      #carouselExampleSlidesOnly .carousel-inner img
      {
        width: 100%;
        height: auto; /* responsive height */
        object-fit: cover;
        display: block;
        margin: 0 auto;
      }

#carouselExampleSlidesOnly {
    margin-top: 56px; /* height of navbar */
}

/* ------ featurette -------- */
.featurette-image {
  max-width: 700px;
  max-height: 500px;
  object-fit: cover;
}

.featurette-heading {
    color: #b78fd6;
    font-family: Roboto, sans-serif;
    font-size: 24px;
}

.lead {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-align: justify;
    color: #333;
    line-height: 1.6;
    margin-top: 15px;
}

.text-body-secondary {
    color: #6c757d;
    font-size: 15px;
    font-style: italic;
}

/* ------------- END OF HOMEPAGE -------- */

/* ---------------ABOUT PAGE START--------------- */
.aboutNITP {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
  }
  
  .aboutNITP img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .aboutNITP-text {
    max-width: 600px;
  }
  
  .aboutNITP-text h2 {
    color: #b78fd6;
    margin-bottom: 20px;
  }
  
  .aboutNITP-text p {
    color: #333;
    line-height: 1.6;
  }












/* -------------ABOUT PAGE CLOSING--------------- */